@model WebQLQuanAn.Models.SANPHAM

@{
    ViewBag.Title = "Xóa sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1>Xóa sản phẩm</h1>

                <h3>Bạn có chắc là muốn xóa món ăn này???</h3>
                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            Tên loại sản phẩm
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LOAISP.TenLoai)
                        </dd>

                        <dt>
                            Tên sản phẩm
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TenSP)
                        </dd>

                        <dt>
                           Đơn giá
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DonGia)
                        </dd>

                        <dt>
                            Đơn vị
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DonVi)
                        </dd>

                        <dt>
                            Mô tả
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MoTa)
                        </dd>
                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <button type="submit" class="btn btn-gradient-primary me-2">XÓA</button>
                    }

                    <br />
                    <button class="btn btn-light"> @Html.ActionLink("Cancel", "Danhsachsanpham")</button>
                </div>

            </div>
        </div>
    </div>
</div>
