@model PagedList.IPagedList<WebQLQuanAn.Models.NHANVIEN>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Danh Sách Nhân Viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Assets/assets/css/table.css">
</head>

<div class="content-wrapper">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h1>Danh Sách Nhân Viên</h1>

                <button class="custom-btn btn-8">
                    <span>
                        @Html.ActionLink("Thêm nhân viên", "Themnhanvien")
                    </span>
                </button>

                @using (Html.BeginForm())
                {
                    <p>
                        Tên nhân viên: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                        <input class="btn btn-gradient-primary btn-rounded btn-fw" type="submit" value="Search" />
                    </p>
                }
                <div class="table-wrapper">
                    <div class="scroll">
                        <table class="fl-table">
                            <thead>

                                <tr>
                                    <th>
                                        Tên tài khoản
                                    </th>
                                    <th>
                                        Mật khẩu
                                    </th>
                                    <th>
                                        Tên nhân viên
                                    </th>
                                    <th>
                                        Địa chỉ
                                    </th>
                                    <th>
                                        Ngày sinh
                                    </th>
                                    <th>
                                        Giới tính
                                    </th>
                                    <th>
                                        Số điện thoại
                                    </th>
                                    <th>
                                        Chức vụ
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TAIKHOAN.TenTK)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TAIKHOAN.MK)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TenNV, new { sortOrder = ViewBag.NameSortParm })
                                            @*@Html.ActionLink("TenNV", "Index", new { sortOrder = ViewBag.NameSortParm })*@
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DiaChi)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NgaySinh)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.GioiTinh)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SDT)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ChucVu)
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-warning btn-sm">
                                                @Html.ActionLink("Sửa thông tin", "Suathongtinnhanvien", new { id = item.MaNV })
                                            </button>
                                            <button type="button" class="btn btn-success btn-sm">
                                                @Html.ActionLink("Thông tin chi tiết", "Thongtinnhanvien", new { id = item.MaNV })
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm">
                                                @Html.ActionLink("Xóa nhân viên", "Xoanhanvien", new { id = item.MaNV })
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </thead>

                        </table>
                        <br />

                    </div>

                </div>
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Danhsachnhanvien",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </div>
    </div>
</div>
